<!DOCTYPE>
<html>
<head>
	<title><< Title >></title>

    <link rel="stylesheet" type="text/css" href="<< AllPagesCSS >>">

    <link rel="icon" type="image/JPG" href="<< LOGO >>">
</head>

<body>

    << include : Header.html >>

	<section style="min-height: 41.8%">
		
		<h1 style="text-align: left;">How To DownLoad Engine</h1>
		<p style="text-align: left;">Go To GitHub And Clone The Project From There ...</p>
		<a href="" style="text-align: left;">Link For The Project</a>

	</section>

	<< include : Footer.html >>

</body>
</html>